* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
 background-color: rgb(165, 166, 245);
 height: 75px;
 display: flex;
 justify-content: center;
 align-items: center;
}

main{
    padding: 8px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}
.item-container{
    text-decoration: none;
    color: #0009;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    
}
.item-container:hover{
    box-shadow: 0px 0px 5px #0009;
}
footer{
    background-color: rgb(165, 166, 245);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape{
    font-size: 40px;
}